<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet" />


</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>
    
    <div class="white-bg">
    <%  for (let i = 0; i < 글목록.length; i++){ %>    
        <div class="list-box">
            <%= JSON.stringify(글목록[i]) %>
            <h4><a href='/detail/<%= 글목록[i]._id %>'><%= 글목록[i].title %></a>
            <a href="/edit/<%= 글목록[i]._id %>">수정하기</a>
            </h4>
            <span class="delete" data-id="<%= 글목록[i]._id %>">삭제</span>
            <p><%= 글목록[i].content %></p>
        </div>
    <% } %>
    </div> 
    <a href="/list/next/<%= 글목록[글목록.length - 1]._id %>">다음</a>

    <script>
        for (let i = 0; i < '<%= 글목록.length %>'; i++) {
            document.querySelectorAll('.delete')[i].addEventListener('click', (e)=>{
            // e.target.dataset.id < HTML에서 데이터 저장
            fetch('/delete?docid=' + e.target.dataset.id, {
                method : 'DELETE',
            })
            .then((r)=>r.text())
            .then((r)=>{
                e.target.parentElement.parentElement.style.display = 'none'
            })
        })
        }
        
        

    </script>
</body>
</html>